@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
 
}
/* Header*/

.header{
 display: flex;
 flex-direction: column;
 background-color: #FBFBFB;

 
}
.heaedr_logo{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
}

.heaeder_text{
  background-color: #666;
  display: flex;
  padding-top:20px ;
  padding-bottom:20px ;
}
.heaeder_text p{
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
}
/* main */

.main{
  
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main button{
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 0 #909090;
}

.main button:hover{
  background: #3e8e41;
  box-shadow: none;
  position: relative;
  top: 5px;
}

.btn_start{
  width: 450px;
  height: 120px;
  background: #4CAF50;
}
.btn_2{
  display: flex;

}
.btn_2 button{
  width: 215px;
  height: 120px;
  background: #666;
}
.btn_3 button{
  width: 450px;
  height: 120px;
  background: #666;
}

/* main */ 

.main {

}