@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #bbe2fb;
}
/* Header*/

.header {
  display: flex;
  flex-direction: column;
  background-color: #03282b;
}

.heaedr_logo {
  color: #f5f5f7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
}

.header_text {
  background-color: #98aebc;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header_text p {
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f7;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
}
/* main */

.main {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_start img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 15px;
  top: 8px;
}
.main button {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #98aebc;
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 0 #909090;
}

.main button:hover {
  background: #3e8e41;
  box-shadow: 0 5px 0 #555555;
}

.btn_start {
  width: 450px;
  height: 120px;
  background: #03282b;
}
.btn_2 {
  display: flex;
}
.btn_2 button {
  width: 215px;
  height: 120px;
  background: #03282b;
}
.btn_2 button:hover {
  background: #498f95;
}
.btn_3 button {
  width: 450px;
  height: 120px;
  background: #03282b;
}
.btn_3 button:hover {
  background: #498f95;
}

.btn_3 img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 15px;
  top: 8px;
}
/* ROOM */
.room {
  background-color: #bbe2fb;
}
.container {
  background-color: #bbe2fb;
}
.container_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
}
.container_inner p {
  border-right: 3px solid #666;
  border-radius: 3px;
  font-size: 21px;
  font-weight: bold;
  padding-right: 10px;
}
.room_btn {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room_btn button {
  width: 310px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #deeeef;
  box-shadow: 0 5px 0 #909090;
  background: #03282b;
}

.room_btn button:hover {
  background: #498f95;
  box-shadow: 0 5px 0 #555555;
}

.info {
  background-color: #bbe2fb;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info h1 {
  color: #03282b;
  padding: 10px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.task {
  background-color: #03282b;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 3px 15px 5px rgba(0, 0, 0, 0.5);
}

.task p {
  color: #f5f5f7;
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
}

.answer {
  background-color: #03282b;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 3px 15px 5px rgba(0, 0, 0, 0.5);
}

.answer p {
  color: #f5f5f7;
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
}

/* SIGN IN */

.wrapper {
  width: 500px;
  height: 480px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #03282b;
  border-radius: 20px;
  align-items: center;
  box-shadow: 5px 3px 20px 15px rgba(0, 0, 0, 0.5);
}

.wrapper_header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 24px;
  color: #deeeef;
  width: 400px;
  align-items: center;
  margin-top: 70px;
}

.wrapper_header button {
  background: none;
  color: white;
  border: 1px solid #666;
  padding: 7px 42px;
  font-size: 14px;
  font-weight: bold;
}
.wrapper_header button:hover {
  background-color: #498f95;
}
.wrapper form {
  display: flex;
  flex-direction: column;
}

.wrapper input {
  width: 365px;
  height: 30px;
  padding: 15px;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 18px;
}

form button {
  border: 1px solid #666;
  padding: 15px;
  color: #deeeef;
  font-size: 21px;
  font-weight: bold;
  background: none;
  margin: 0 auto;
  margin-top: 15px;
  width: 400px;
}
form button:hover {
  background-color: #498f95;
}

/* REGISTR */

.wrapper_register {
  width: 500px;
  height: 670px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #03282b;
  border-radius: 20px;
  align-items: center;
  box-shadow: 5px 3px 20px 15px rgba(0, 0, 0, 0.5);
}

.wrapper_header_register {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 24px;
  color: #deeeef;
  width: 400px;
  align-items: center;
  margin-top: 50px;
}

.wrapper_header_register button {
  background: none;
  color: white;
  border: 1px solid #666;
  padding: 7px 42px;
  font-size: 14px;
  font-weight: bold;
}
.wrapper_header_register button:hover {
  background-color: #498f95;
}
.wrapper_register form {
  display: flex;
  flex-direction: column;
}

.wrapper_register input {
  width: 365px;
  height: 30px;
  padding: 15px;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 18px;
}

form label {
  color: #deeeef;
  font-weight: bold;
  padding: 5px;
}

/* CreatTest */
.line {
  border: 3px solid #03282b;
  border-radius: 30px;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
}
.container_test {
  display: flex;
  flex-direction: column;
}

.name_test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.name_test_label{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_test_label label{
  color: #03282b;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.name_test_label input{
  width: 315px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;

}
.name_test button {
  width: 120px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #deeeef;
  box-shadow: 0 5px 0 #909090;
  background: #03282b;
}
.name_test button:hover {
  background: #498f95;
  box-shadow: 0 5px 0 #555555;
}

.name_test_lable {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.name_test_lable label {
  color: #03282b;
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
}
.name_test_lable input {
  height: 30px;
  font-size: 18px;
}
.container_inner_test{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
}
.container_inner_test button{
  width: 240px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #deeeef;
  box-shadow: 0 5px 0 #909090;
  background: #03282b;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  
 
}
.container_inner_test img{
  width: 25px;
  height: 25px;
  position: relative;
  right: 15px;
}
.container_inner_test button:hover {
  background: #498f95;
  box-shadow: 0 5px 0 #555555;
}
.test_task{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.task_input{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}
.delete{
  display: flex;
  align-items: center;
}
.delete img{
  width: 50px;
  height: 50px;
  

}
.delete button{
  background:none;
  box-shadow: none;
  max-width: 50px;
  height: 50px;
  text-shadow: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
 
}
.delete button:hover{
  background:none;
  box-shadow: none;
  
}
.task_input label{
 color: #03282b;
 font-weight: bold;
 font-size: 24px;
 padding: 15px;
 
}
.task_input textarea{

  width: 500px;
  height: 150px;
 border-radius: 30px;
 font-size: 18px;
 font-weight: bold;
 resize: none;
 padding: 15px;
}

.error_message{
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 250px;
}